<section class="cmspage mtb-40">
  <div class="container">
    <div class="page-desc">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1>Contact</h1>
          <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="text" name="name" id="name" class="form-control" placeholder="Name" formControlName="name">
              <div *ngIf="signUpForm.controls['name'].invalid && (signUpForm.controls['name'].dirty || signUpForm.controls['name'].touched)" class="alert">
                <div *ngIf="signUpForm.controls['name'].errors.required">
                Please enter Name
              </div>
            </div>
            </div>
            <!--
            <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="E-Mail">
            </div>
            <div class="form-group">
              <input type="text" name="phone" class="form-control" placeholder="Phone">
            </div>
            <div class="form-group">
              <textarea name="message" rows="5" class="form-control" placeholder="Message"></textarea>
            </div>
            -->
            <div class="form-group">
              <button class="btn btn-success">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div [hidden]="!submitted" class="contact-message">
      <div *ngIf="model.id" class="contact-success">
        <h2 class="success">Success!</h2>
        <h4>Contact form has been successfully submitted.</h4>
        <br />
        <button (click)="gotoHome()" class="btn btn-info">Go to Home</button>
      </div>
    </div>

  </div>
</section>